body
  background: black
  color: white
  font-family: helvetica, sans-serif

.poem-container
  background: white
  margin: auto
  width: 50%
  height: 500px
  display: flex
  justify-content: center
  align-items: center

#poem
  font-size: 1.3em
  line-height: 130%
  background: #eee
  width: 50%
  color: darkblue
