body, html
  background: black
  color: white
  font-family: helvetica, sans-serif
  margin: 0
  height: 100%
  overflow: hidden

.poemContainer
  background: transparent
  margin: auto
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.text
  font-size: 1.5em
  line-height: 130%
  color: lightgrey

.verse
  opacity: 0.3

#poem
  @extend .text
  display: inline-block
  background: transparent


.planet
  position: absolute
  border-radius: 50%
  background: red
  position: absolute
  height: 50px
  width: 50px
  z-index: 1

.star
  position: absolute
  width: 40px
  height: 40px
  background: yellow
  opacity: 0.7
  transform: translate(-20px, -20px)

.word
  display: inline-block

.flyingWord
  @extend .text
  position: absolute
  display: inline-block
  opacity: 1
